.form-search {
  display: flex;
  align-self: baseline;

  label {
    display: flex;
    margin-right: 20px;

    svg {
      width: 25px;
      height: 25px;
    }
}

  input {
    outline: 0;
    width: 250px;
    border: none;
    border-bottom: 1px solid @color-nobel;
    font-family: @ff-helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    font-feature-settings: 'tnum' on, 'lnum' on;
    color: @color-black;
    background-color: @color-white;;
  }

  input::placeholder {
    color: @color-nobel;
  }
}

// .form {
//   display: flex;
//   flex-direction: column;
// }

// .form__fieldset {
//   padding: 0;
//   margin: 0;
//   margin-bottom: 29px;
//   border: none;

//   &--contact {
//     margin-bottom: 15px;
//   }

//   &--comment {
//     margin-bottom: 27px;
//   }

//   &--baa {
//     margin-bottom: 17px;
//   }

//   &--border {
//     border-bottom: 1px solid @c-line;
//     border-top: 1px solid @c-line;
//   }
// }

// .form__fieldset-wrapper {
//   width: 280px;
//   margin: 0 auto;
//   padding: 0 20px;

//   &--profile {
//     margin-bottom: 22px;
//   }
// }

// .form__fieldset-wrapper-title {
//   width: 320px;
//   margin: 0 auto;
//   padding: 0;
// }

// .form__fieldset--line {
//   position: relative;

//   &::before {
//     position: absolute;
//     z-index: -1;
//     content: "";
//     height: 3px;
//     width: 100%;
//     top: 14px;
//     left: 0;
//     background-color: @btnc-green;
//   }
// }

// .form__caption {
//   width: 226px;
//   padding: 0;
//   margin: 0;
//   margin-bottom: 37px;
//   font-size: 14px;
//   line-height: 18px;
//   font-weight: 400;
//   text-transform: uppercase;
// }

// .form__title {
//   box-sizing: border-box;
//   padding: 0;
//   padding-right: 20px;
//   padding-left: 20px;
//   margin: 0;
//   margin-bottom: 33px;
//   font-size: 24px;
//   line-height: 24px;
//   font-weight: 400;
//   color: @c-black;
//   background-color: @c-white;

//   &--contact {
//     width: 221px;
//   }

//   &--comment {
//     width: 162px;
//     margin-bottom: 35px;
//   }

//   &--baa {
//     width: 184px;
//     margin-bottom: 40px;
//   }
// }

// .form__label {
//   padding: 0;
//   margin: 0;
//   margin-right: 14px;
//   font-size: 16px;
//   line-height: 18px;
//   font-weight: 400;
//   text-transform: uppercase;

//   &--radio {
//     padding: 0;
//     margin: 0;
//     font-size: 16px;
//     line-height: 18px;
//     font-weight: 400;
//     text-transform: uppercase;
//   }

//   &--contact {
//     margin-right: 10px;
//   }

//   &--weight {
//     margin-right: 17px;
//   }
// }

// .form__textarea {
//   width: 100%;
//   height: 150px;
//   padding: 12px 13px;
//   margin: 0;
//   font-family: "Oswald", "Arial", sans-serif;
//   font-size: 16px;
//   line-height: 18px;
//   font-weight: 400;
//   text-transform: uppercase;
//   border: 1px solid rgba(205, 205, 205, 0.5);
//   color: @c-grey;
//   box-sizing: border-box;
//   resize: none;

//   &:hover {
//     border: 1px solid #cdcdcd;
//   }

//   &:focus,
//   &:active {
//     border: 2px solid #444444;
//   }
// }

// .form__input {
//   flex-grow: 1;
//   box-sizing: border-box;
//   padding: 13px 14px;
//   margin: 0;
//   font-family: "Oswald", "Arial", sans-serif;
//   font-size: 16px;
//   line-height: 18px;
//   font-weight: 400;
//   text-transform: uppercase;
//   border: 1px solid rgba(205, 205, 205, 0.5);
//   color: @c-grey;

//   &:hover {
//     border: 1px solid #cdcdcd;
//   }

//   &:focus,
//   &:active {
//     border: 2px solid #444444;
//   }

//   &--required:invalid {
//     border: 2px solid #ff8282;
//   }

//   &--tel {
//     padding-right: 35px;
//   }

//   &--mail {
//     padding-right: 35px;
//   }
// }

// .form__input:focus ~ .form__icon-mail,
// .form__input:active ~ .form__icon-mail {
//   fill: @btnc-green;
// }

// .form__input:invalid ~ .form__icon-mail {
//   fill: #ff8282;
// }

// .form__input:focus ~ .form__icon-phone,
// .form__input:active ~ .form__icon-phone {
//   fill: @btnc-green;
// }

// .form__input:invalid ~ .form__icon-phone {
//   fill: #ff8282;
// }

// input[type="number"]::-webkit-inner-spin-button,
// input[type="number"]::-webkit-outer-spin-button {
//   appearance: none;
//   margin: 0;
// }

// input[type="number"] {
//   appearance: textfield;
// }

// .form__list {
//   padding: 0;
//   margin: 0;
//   list-style: none;

//   &--radio {
//     width: 280px;
//     margin: 0 auto;
//     padding: 27px 20px;
//     padding-bottom: 0;
//   }

//   &--contact {
//     display: flex;
//     flex-direction: column;
//   }

//   &--baa {
//     display: flex;
//     flex-direction: column;
//   }
// }

// .form__fieldset-wrapper-radio {
//   border-top: 1px solid #ededed;
//   border-bottom: 1px solid #ededed;
// }

// .form__item {
//   margin-bottom: 13px;
//   position: relative;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .form__icon-mail {
//   position: absolute;
//   content: "";
//   width: 17px;
//   height: 13px;
//   top: 50%;
//   margin-top: -6px;
//   right: 16px;
// }

// .form__icon-phone {
//   position: absolute;
//   content: "";
//   width: 20px;
//   height: 20px;
//   top: 50%;
//   margin-top: -10px;
//   right: 13px;
// }

// .form__button {
//   width: 280px;
//   margin-bottom: 21px;
// }

// .form__footnote {
//   padding: 0;
//   margin: 0;
//   font-family: "Arial", sans-serif;
//   font-size: 14px;
//   line-height: 16px;
//   font-weight: 400;
//   color: @c-grey;
// }

// .form__footnote sup {
//   font-size: 100%;
//   top: 0;
// }

// .form__column-btn {
//   width: 280px;
//   margin: 0 auto;
//   padding: 0 20px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// @media (min-width: @tablet-width) {
//   .form {
//     margin-bottom: 41px;
//   }

//   .form__fieldset {
//     margin-bottom: 76px;

//     &::before {
//       top: 22px;
//     }

//     &--contact {
//       margin-bottom: 36px;
//     }

//     &--comment {
//       margin-bottom: 63px;
//     }

//     &--baa {
//       margin-bottom: 13px;
//     }
//   }

//   .form__fieldset-wrapper {
//     width: 630px;
//     padding: 0 69px;

//     &--profile {
//       margin-bottom: 71px;
//     }

//     &--contact {
//       margin-bottom: 28px;
//     }

//     &--comment {
//       margin-bottom: 0;
//     }

//     &--baa {
//       margin-bottom: 0;
//     }
//   }

//   .form__fieldset-wrapper-title {
//     width: 708px;
//     padding: 0 30px;
//   }

//   .form__fieldset-wrapper-radio {
//     width: 628px;
//     margin: 0 auto;
//     border: 1px solid #ededed;
//   }

//   .form__title {
//     padding: 0 71px;
//     margin-bottom: 76px;
//     font-size: 36px;
//     line-height: 36px;

//     &--contact {
//       width: 594px;
//       padding-right: 40px;
//       padding-left: 40px;
//     }

//     &--comment {
//       width: 259px;
//       padding-right: 40px;
//       padding-left: 40px;
//       margin-bottom: 75px;
//     }

//     &--baa {
//       width: 291px;
//       padding-right: 40px;
//       padding-left: 40px;
//       margin-bottom: 67px;
//     }
//   }

//   .form__caption {
//     width: 325px;
//     font-size: 20px;
//     line-height: 30px;
//     margin-bottom: 64px;
//   }

//   .form__item {
//     margin-bottom: 21px;

//     &:last-child {
//       margin-bottom: 0;
//     }
//   }

//   .form__label {
//     margin-right: 17px;
//     font-size: 20px;
//     line-height: 20px;

//     &--weight {
//       margin-right: 21px;
//     }
//   }

//   .form__input {
//     height: 52px;
//     font-size: 20px;
//     line-height: 20px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-left: 20px;
//   }

//   .form__textarea {
//     font-size: 20px;
//     line-height: 30px;
//     padding: 10px 19px;
//     height: 175px;
//   }

//   .form__footnote {
//     font-size: 16px;
//   }

//   .form__list--radio {
//     width: auto;
//     padding: 35px 28px;
//     padding-bottom: 0;
//     margin: 0;
//   }

//   .form__list--baa {
//     flex-direction: row;
//     flex-wrap: wrap;
//     margin-left: -125px;
//   }

//   .form__button {
//     width: 283px;
//     margin-bottom: 0;
//     margin-right: 62px;
//     padding: 16px 5px;
//     font-size: 20px;
//     line-height: 20px;
//   }

//   .form__column-btn {
//     width: 626px;
//     padding: 0 71px;
//     flex-direction: row;
//     align-items: center;
//   }
// }

// @media (min-width: @desktop-width) {
//   .form {
//     margin-bottom: 53px;
//   }

//   .form__fieldset-container {
//     width: 1220px;
//     padding: 0 40px;
//     margin: 0 auto;
//     display: flex;
//     justify-content: space-between;
//   }

//   .form__fieldset-wrapper-title {
//     width: 1300px;
//     padding: 0;
//   }

//   .form__fieldset-wrapper {
//     width: 1220px;
//     padding: 0 40px;
//   }

//   .form__fieldset--profile {
//     margin-bottom: 68px;
//   }

//   .form__fieldset--contact {
//     margin-bottom: 39px;
//   }

//   .form__fieldset--comment {
//     margin-bottom: 65px;
//   }

//   .form__fieldset--baa {
//     margin-bottom: 19px;
//   }

//   .form__fieldset-wrapper--profile {
//     padding: 0;
//     margin: 0;
//     width: 570px;
//   }

//   .form__caption {
//     width: 325px;
//     font-size: 20px;
//     line-height: 30px;
//   }

//   .form__list--profile {
//     width: 570px;
//   }

//   .form__fieldset-wrapper-radio {
//     width: 570px;
//     margin: 0;
//   }

//   .form__list--radio {
//     margin: 0;
//   }

//   .form__list--contact {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//   }

//   .form__label {
//     &--contact {
//       margin-right: 21px;
//     }

//     &--tel {
//       margin-right: 14px;
//     }
//   }

//   .form__item--mail,
//   .form__item--tel {
//     width: 570px;
//     margin-bottom: 0;
//   }

//   .form__icon-mail {
//     right: 20px;
//   }

//   .form__icon-phone {
//     right: 20px;
//   }

//   .form__list--baa {
//     margin-left: -105px;
//   }

//   .form__button {
//     width: 568px;
//     margin-right: 82px;
//   }

//   .form__column-btn {
//     width: 1220px;
//     padding: 0 40px;
//     flex-direction: row;
//     align-items: center;
//   }
// }
