.header {
  padding-top: 30px;
  padding-bottom: 50px;
}

.header__logo {
  grid-area: logo;

  svg {
    width: 160px;
    height: 50px;
  }
}

.header__top {
  display: flex;
  width: 100%;
  // justify-content: space-between;
}
