.links {
  border: none;
  border-radius: 0;
  background-color: @color-transparent;

  color: @color-nobel;

  cursor: pointer;

  &--underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &:hover,
  &:focus {
      color: @color-black;
  }

  &--black {
    color: @color-black;

    &:hover,
    &:focus {
      color: @color-black-opacity;
    }
  }
}

// .links__wrapper {
//   width: 280px;
//   padding: 0 20px;
//   margin: 0 auto;
// }

// .links__social {
//   margin: 0 auto;
//   margin-bottom: 26px;
//   padding: 0 20px;
//   padding-top: 21px;
//   padding-bottom: 17px;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//   border-top: 1px solid rgba(0, 0, 0, 0.1);
// }

// .links__logo {
//   display: block;
//   margin: 0 auto;
//   width: 128px;
//   height: 24px;
//   margin-bottom: 29px;

//   &:hover,
//   &:focus {
//     opacity: 0.8;
//   }
// }

// .links__logo-title {
//   width: 128px;
//   height: 24px;

//   &:active {
//     opacity: 0.3;
//   }
// }

// .links__developer-name {
//   //width: 280px;
//   padding: 0;
//   padding-top: 5px;
//   padding-bottom: 5px;
//   padding-right: 165px;
//   margin: 0;
//   font-family: "Arial", sans-serif;
//   font-size: 16px;
//   line-height: 16px;
//   font-weight: 400;
//   color: @c-grey;
// }

// .links__developer-link {
//   position: relative;
//   z-index: 20;
//   width: 280px;
//   margin: 0 auto;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   fill: #666666;

//   &:hover,
//   &:focus {
//     fill: #68b738;
//   }
// }

// //.links__developer-link svg {
// //  fill: #666666;
// //
// //  &:hover,
// //  &:focus {
// //    fill: #68b738;
// ////  }
// //}

// .links__developer-name:active,
// .links__developer-name:active + .links__developer-icon {
//   opacity: 0.3;
// }

// .links__developer-icon {
//   position: absolute;
//   z-index: -1;
//   top: 50%;
//   margin-top: -20px;
//   right: -6px;
// }

// @media (min-width: @tablet-width) {
//   .links__wrapper {
//     width: 708px;
//     padding: 0 30px;
//     display: flex;
//     align-items: center;
//   }

//   .links__social {
//     margin: 0;
//     padding: 0;
//     border: none;
//   }

//   .links__developer-link {
//     width: 164px;
//     margin: 0;
//     margin-left: auto;
//   }

//   .links__developer-name {
//     padding: 0;
//     padding-top: 5px;
//     padding-bottom: 5px;
//     padding-right: 49px;
//   }

//   .links__logo {
//     margin: 0;
//     margin-right: 154px;
//     padding: 5px 0;
//   }
// }

// @media (min-width: @desktop-width) {
//   .links__wrapper {
//     width: 1220px;
//     padding: 0 40px;
//   }

//   .links__logo {
//     margin-right: 410px;
//   }
// }
