.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__item {
  align-self: flex-end;
  margin-right: 30px;

  font-family: @ff-helvetica;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;

  &--logo {
    margin-right: 64px;
    margin-left: 34px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  color: @color-nobel;
}

.main-nav__toggle {
  display: none;

  @media (max-width: @mobile-width) {
    display: block
  }
}


.main-nav--opened {
  @media (max-width: @mobile-width) {
    .main-nav__list {
      display: block;
    }
  }
}

.main-nav--closed {
  @media (max-width: @mobile-width) {
    .main-nav__list {
      display: none;
    }
  }
}
// .main-nav {
//   position: relative;
//   border-bottom: 1px solid #e6e6e6;
// }

// @media (max-width: @mobile-width-only) {
//   .main-nav--opened .main-nav__list {
//     display: block;
//   }

//   .main-nav--opened .main-nav__toggle {
//     position: absolute;
//     content: "";
//     padding: 0;
//     width: 18px;
//     height: 18px;
//     right: 22px;
//     top: -43px;
//     border: none;
//     background-color: transparent;
//     background-image: url("../../img/close.svg");
//     background-position: center;
//     background-repeat: no-repeat;
//     cursor: pointer;
//   }

//   .main-nav--closed {
//     .main-nav__list {
//       display: none;
//     }

//     .main-nav__toggle {
//       position: absolute;
//       content: "";
//       padding: 0;
//       width: 24px;
//       height: 18px;
//       right: 20px;
//       top: -43px;
//       border: none;
//       background-color: transparent;
//       background-image: url("../../img/mobile-menu.svg");
//       background-position: center;
//       background-repeat: no-repeat;
//       cursor: pointer;
//     }
//   }

//   .main-nav--nojs .main-nav__toggle {
//     display: none;
//   }

//   .main-nav--nojs .main-nav__list {
//     display: block;
//   }
// }

// @media (min-width: @tablet-width) {
//   .main-nav {
//     width: auto;
//     border: none;
//   }

//   .main-nav__toggle {
//     display: none;
//   }
// }
