@import "normalize";
@import "reboot";

// @font-face {
//   font-family: "Oswald";
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src: url("../fonts/oswaldmedium.woff2") format("woff2");
//   src: url("../fonts/oswaldmedium.woff") format("woff");
// }

// @font-face {
//   font-family: "Oswald";
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url("../fonts/oswaldregular.woff2") format("woff2");
//   src: url("../fonts/oswaldregular.woff") format("woff");
// }


@color-nobel:           #9F9F9F;
@color-black:           #000000;
@color-white:           #ffffff;
@color-gainsboro:       #DEDEDE;
@color-free-speech-red: #D80909;
@color-transparent:     rgba(255, 255, 255, 0);
@color-black-opacity: rgba(0, 0, 0, 0.5);


// @tablet-width: 768px;
// @desktop-width: 1300px;
// @mobile-width-only: 767px;

@desktop-width: 1920px;
@table-width: 1023px;
@mobile-width: 768px;


@ff-helvetica: Helvetica, Arial, sans-serif;

// @retina-dpi: 144dpi;
// @retina-dppx: 1.5dppx;



@import "visually-hidden";
@import "container";
@import "utils";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/page-footer";
@import "blocks/header";
@import "blocks/page-main";
@import "blocks/user-menu";
@import "blocks/breadcrumbs";
@import "blocks/button";
@import "blocks/title";
@import "blocks/products";
@import "blocks/map";
@import "blocks/links";
@import "blocks/basket";
@import "blocks/select";
// @import "blocks/catalog-additional";
// @import "blocks/card";
// @import "blocks/table";
// @import "blocks/profile";
@import "blocks/form";
// @import "blocks/list-chek";
